footer {
  padding: 2rem;
  background-color: #8e0038;
  font-size: var(--body-font-size-s);
  color: #fff;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer a:any-link {
  color: #fff;
}